main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 1em 100px;
  font-family: 'Quicksand', sans-serif;
}

main:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.contact-box {
  max-width: 53.125em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-neutral-000);
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url('/img/contact_me.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: .2em;
  width: 3em;
  border-radius: 2px;
  background-color: var(--clr-primary-900);
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  border: .2em solid var(--clr-primary-300);
  background-color: var(--clr-primary-300);
  padding: 0.5rem .75em;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover,
.field:focus {
  background-color: var(--clr-primary-100);
}

textarea {
  min-height: 9.375em;
  max-width: 45.75em;
  resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: var(--clr-primary-300);
}

input:valid,
textarea:valid {
  background-color: var(--clr-primary-100);
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-000);
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btn:focus {
  background-color: var(--clr-primary-900);
}

@media screen and (max-width: 768px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .left {
    height: 200px;
  }
}