#dyalog-apl h1 {
  margin-bottom: .5em;
  color: var(--clr-primary-900);
  text-decoration: underline var(--clr-primary-500);
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: .5em;
  padding-block: 1em;
  background-color: var(--clr-primary-000);
  border-left: 6px solid var(--clr-primary-900);
  text-align: center;
}

.text-block:first-of-type {
  gap: 3em;
}

.center-quote {
  margin: auto;
}

.text-block blockquote {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 40em;
  position: relative;
  margin-inline: 4rem;
  font-family: Georgia, sans-serif;
  color: #4a4a4a;
  quotes: "\201C""\201D""\2018""\2019";
}

.text-block blockquote::before,
.text-block blockquote::after {
  position: absolute;
  font-size: 8rem;
  color: var(--clr-primary-900);
}

.text-block blockquote::before {
  content: open-quote;
  left: -3.5rem;
  top: -2rem;
}

.text-block blockquote::after {
  content: close-quote;
  right: -3.5rem;
  bottom: -6.5rem;
}

.text-block + .text-block p {
  max-width: 90%;
  margin: auto;
}

.text-block u {
  color: var(--clr-primary-900);
}

.text-block:first-of-type a {
  color: var(--clr-primary-900);
  width: fit-content;
  margin: auto;
}

.text-block:first-of-type a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23ffcfce%22 stroke=%22%23ff3c38%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%23ff3c38%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23ffcfce%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
  padding-left: .2em;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-inline: 1em;
  margin-top: 1em;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.875em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .3);
}

.card h2 {
  color: var(--clr-primary-700);
  text-decoration: underline;
}

.card ol {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
    align-items: stretch;
  }

  .card {
    align-items: unset;
    text-align: left;
  }

  .card ol {
    margin-left: 2em;
  }
}