@font-face {
  font-family: 'APL';
  src: local('APL'), url('/css/font/Apl385.ttf') format('truetype');
}

:root {
  --clr-primary-000: #ffcfce;
  /* Baby Pink - (255, 207, 206) */
  --clr-primary-100: #fff275;
  /* Corn - (255, 242, 117) */
  --clr-primary-300: #ffc566;
  /* Maximum Yellow Red - (255, 197, 102) */
  --clr-primary-500: #ff9757;
  /* Atomic Tangerine - (255, 151, 87) */
  --clr-primary-700: #ff6a47;
  /* Outrageous Orange - (255, 106, 71) */
  --clr-primary-900: #ff3c38;
  /* Tart Orange - (255, 60, 56)*/

  --clr-text-dark: #4a4a4a;

  --clr-dracula-black: #282a36; /* 40 42 54 */
  --clr-dracula-white: #f8f8f2; /* 68 71 90 */
  --clr-dracula-grey: #44475a; /* 248 248 242 */
  --clr-dracula-blue: #6272a4; /*98 114 164 */
  --clr-dracula-cyan: #8be9fd; /*139 233 253 */
  --clr-dracula-green: #50fa7b; /*80 250 123 */
  --clr-dracula-orange: #ffb86c; /*255 184 108 */
  --clr-dracula-pink: #ff79c6; /*255 121 198 */
  --clr-dracula-purple: #bd93f9; /*189 147 249 */
  --clr-dracula-red: #ff5555; /*255 85 85 */
  --clr-dracula-yellow: #f1fa8c; /*241 250 140 */

  --ff-accent: 'Oleo Script', serif;
  --ff-primary: Georgia, system-ui, sans-serif;
  --ff-code-APL: 'APL', monospace;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
}

main {
  flex-grow: 1;
  padding: 2em 1em;
}

@media only screen and (min-width: 600px) {
  main {
    padding: 3em 2em;
  }
}

h1 {
  font-weight: 800;
  font-size: calc(1.15rem + 1.9vw);
}

h2 {
  font-family: var(--ff-heading);
  font-size: calc(1.1rem + 1.2vw);
}

p,
a,
li {
  font-weight: 400;
  font-size: calc(1.02rem + 0.24vw);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

td {
  font-family: system-ui, sans-serif;
}

button {
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
}
