:root {
  --clr-primary-000: #FFCFCE;
  /* Baby Pink - (255, 207, 206) */
  --clr-primary-100: #FFF275;
  /* Corn - (255, 242, 117) */
  --clr-primary-300: #FFC566;
  /* Maximum Yellow Red - (255, 197, 102) */
  --clr-primary-500: #FF9757;
  /* Atomic Tangerine - (255, 151, 87) */
  --clr-primary-700: #FF6A47;
  /* Outrageous Orange - (255, 106, 71) */
  --clr-primary-900: #FF3C38;
  /* Tart Orange - (255, 60, 56)*/
  --clr-neutral-000: #FFF;
  --clr-neutral-1000: #000;
  --ff-accent: 'Oleo Script', cursive;
  --ff-menu: 'Roboto', sans-serif;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-code-APL: 'APL', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin: 2em 1em;
}

@media only screen and (min-width: 600px) {
  main {
    margin: 3em 2em;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}