/*
  Index:
  - Table
  - Input section
    - .input__dimension
    - .input__modify
    - .input__btns
    - Output section
    - .output
    - Try section
    - .try
    - .try__modify
    - .try__btns
*/

button,
td {
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  width: fit-content;
  margin: 0 auto 1em;
}

.material-icons {
  vertical-align: middle;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 2em;
}

.cards section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* Table */
.input__table,
.output__table,
.try__table {
  width: 100%;
  overflow: auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  white-space: nowrap;
}

td {
  line-height: 40px;
  min-width: 40px;
  border: 1px solid #20202055;
  border-right: none;
  border-bottom: none;
  text-align: center;
  font-size: 1.1em;
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: center;
}

table tr td:first-child {
  border-left: 1px solid #000;
}

table tr:first-child td {
  border-top: 1px solid #000;
}

table tr td:last-child {
  border-right: 1px solid #000;
}

table tr:last-child td {
  border-bottom: 1px solid #000;
}

/* Input section */
.input__dimension {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border: 1px solid var(--clr-primary-900);
  border-radius: 5px;
  outline: none;
  overflow: hidden;
}

.dimension__value {
  padding: 0.5rem 0.75em;
  outline: none;
  border: none;
}

.dimension__button {
  border-radius: 5px 0 0 5px;
  width: 2.5em;
  color: var(--clr-primary-900);
  font-weight: bold;
  background-color: var(--clr-primary-300);
  border: none;
}

.dimension__button:hover {
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-900);
}

.input__modify {
  display: flex;
  max-width: 15em;
  width: 80%;
  gap: 0.5em;
}

.input__modify button {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.btns__redo,
.btns__undo,
.btns__restart {
  border: 1px solid var(--clr-primary-300);
}

.btns__undo:hover,
.btns__redo:hover,
.btns__restart:hover {
  background-color: var(--clr-primary-300);
}

.input__btns {
  display: flex;
  flex-direction: column;
  max-width: 15em;
  width: 80%;
  gap: 1em;
}

.input__btns button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.btns__solve {
  border: 1px solid var(--clr-primary-900);
}

.btns__solve:hover {
  background-color: var(--clr-primary-900);
}

.btns__create {
  border: 1px solid var(--clr-primary-700);
}

.btns__create:hover {
  background-color: var(--clr-primary-700);
}

.btns__try {
  border: 1px solid var(--clr-primary-500);
}

.btns__try:hover {
  background-color: var(--clr-primary-500);
}

/* Output Section */
.output h2 {
  color: #4169e1;
  font-size: 1.5em;
}

/* Try section */
.try h2 {
  color: #4169e1;
  font-size: 1.5em;
}

.try__modify {
  display: flex;
  max-width: 15em;
  width: 80%;
  gap: 0.5em;
}

.try__modify button {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.try__btns {
  display: flex;
  gap: 0.25em;
  width: 80%;
  max-width: 15em;
}

.try__btns button {
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: #fff;
  border: 1px solid #4169e1;
  border-radius: 5px;
  transition: 0.3s;
}

.btns__verify {
  flex-grow: 1;
}

.btns__verify:hover {
  background-color: #4169e1;
}

.btns__mode {
  width: calc(225em / 99);
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: center;
}
