.cards {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 2em;
}

.cards section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input__table input[type=number],
.try__table input[type=number] {
  caret-color: transparent;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;
}

/* Input section */
.contact-box form input {
  width: 100%;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  border: .2em solid var(--clr-primary-300);
  background-color: var(--clr-primary-300);
  padding: 0.5rem .75em;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.input__dimension {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 0.625em;
  font-size: 1rem;
}

.dimension__value {
  padding: 0.5rem .75em;
  border: 1px solid var(--clr-primary-900);
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.dimension__button {
  width: 2.5em;
  color: var(--clr-primary-900);
  font-weight: bold;
  background-color: var(--clr-primary-300);
  border: 0.0625em solid var(--clr-primary-900);
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.input__table,
.output__table,
.try__table {
  display: flex;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
}

.input__table input,
.output__table input,
.try__table input {
  font-size: 1.1em;
  width: 2em;
  aspect-ratio: 1;
  margin: 0.0625em;
  text-align: center;
}

.input__btns,
.try__btns {
  display: flex;
  flex-direction: column;
  max-width: 15em;
  width: 80%;
  gap: 1em;
}

.input__btns button,
.try__btns button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
}

.btns__solve {
  border: 2px solid var(--clr-primary-900);
}

.btns__solve:hover,
.btns__solve:focus {
  background-color: var(--clr-primary-900);
}

.btns__create {
  border: 2px solid var(--clr-primary-700);
}

.btns__create:hover,
.btns__create:focus {
  background-color: var(--clr-primary-700);
}

.btns__try {
  border: 2px solid var(--clr-primary-500);
}

.btns__try:hover,
.btns__try:focus {
  background-color: var(--clr-primary-500);
}

.btns__restart {
  border: 2px solid var(--clr-primary-300);
}

.btns__restart:hover,
.btns__restart:focus {
  background-color: var(--clr-primary-300);
}

.output__label,
.try__label {
  line-height: 2.25;
  font-weight: bold;
  color: #4169e1;
  font-size: 1.5em;
}

.btns__verify {
  border: 2px solid #4169e1;
}

.btns__verify:hover,
.btns__verify:focus {
  background-color: #4169e1;
}

@media only screen and (min-width: 600px) {}