@media only screen and (min-width: 600px) {
  main {
    margin: 0 7em;
  }
}

h1 {
  color: var(--clr-primary-900);
  margin-left: 0;
}

h2 {
  margin: 0;
}

h2::after {
  content: '';
  width: 100%;
  border-bottom: 3px solid red;
  display: inline-block;
  margin-bottom: 0.25em;
}

h2 a {
  font-family: var(--ff-heading);
  color: var(--clr-primary-700);
  font-size: 1.7rem;
  position: relative;
}

.infos {
  display: flex;
  justify-content: space-between;
  color: var(--clr-dracula-grey);
  margin-bottom: 3em;
}

.author::before {
  content: '@';
}
