.inner-footer {
  margin-top: 2em;
  background-color: var(--clr-primary-300);
}

.quick-links {
  display: flex;
  margin: auto;
  padding-block: 1em;
}

.quick-links ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
  text-align: center;
}

.quick-items a {
  padding: 0 15px;
  font-size: 20px;
  color: var(--clr-primary-700);
  transition: all .25s;
}

.quick-items a:hover,
.quick-items a:focus {
  color: var(--clr-primary-900);
  font-weight: bold;
}

.outer-footer {
  padding: 15px;
  text-align: center;
  color: var(--clr-primary-700);
  background-color: var(--clr-primary-100);
}

@media only screen and (min-width: 600px) {
  .quick-links {
    height: 5em;
  }

  .quick-links ul {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin: auto;
  }
}