/*
  Index:
  - Hamburger icon
  - Menu and animation
*/

header {
  display: flex;
  align-items: center;
  min-height: 12vh;
  background: var(--clr-primary-900);
}

.logo {
  height: 12vh;
  z-index: 99;
}

/* ?Are there these screens */
@media only screen and (max-width: 366px) {
  .logo {
    display: none;
  }
}

.name {
  font-size: 5vh;
  flex-grow: 1;
  text-align: initial;
  padding-inline: 0.5em;
  font-family: var(--ff-accent);
  text-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.1);
  color: var(--clr-primary-300);
  z-index: 99;
}

.navbar {
  padding-right: 1em;
  -webkit-box-pack: end;
  display: -webkit-box;
}

.ham {
  position: relative;
  z-index: 99;
}

.change {
  position: fixed;
  top: 1.8em;
  right: 1em;
}

/* Menu */
.ham span {
  display: block;
  width: 1.7em;
  height: 0.1875em;
  margin: 0.3125em auto;
  background-color: var(--clr-primary-300);
  box-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.change .bar1,
.change .bar2 {
  opacity: 0;
}

.ham label {
  position: absolute;
  top: 25px;
  color: var(--clr-primary-300);
  font-family: var(--ff-accent);
  font-weight: bolder;
  opacity: 0;
  pointer-events: none;
}

.change label {
  animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards,
    shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

/* Menu animation */
@keyframes moveUpThenDown {
  0%,
  100% {
    opacity: 1;
  }

  0% {
    top: -5px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: -5px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }

  12.5% {
    transform: rotateZ(-10deg);
  }

  25% {
    transform: rotateZ(-20deg);
  }

  37.5% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  62.5% {
    transform: rotateZ(10deg);
  }

  75% {
    transform: rotateZ(20deg);
  }

  87.5% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }

  80% {
    transform: rotateZ(3deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

/* Menu and animation */
.menu {
  display: flex;
  flex-direction: column;
  padding: 12vh 0;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 50%;
  background-color: rgba(255, 60, 56, 0.75);
  transition: transform 0.3s ease-in;
  transform: translate(100%);
  z-index: 98;
}

.menu-change {
  transform: translate(0);
}

.menu-change::before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  inset: 0;
  filter: blur(10px);
}

.item {
  padding: 0 0.8em;
  line-height: 5vh;
  font-size: 1em;
  color: var(--clr-primary-300);
}

.item::after {
  content: '';
  width: 0;
  height: 0.125em;
  background-color: var(--clr-primary-300);
  display: block;
  transition: 0.5s;
}

.item:hover::after,
.item:focus::after {
  width: 50%;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1.5em;
  color: var(--clr-primary-300);
}

@media only screen and (min-width: 681px) {
  .name {
    text-align: unset;
  }

  .menu {
    position: unset;
    min-width: unset;
    padding: 0;
    flex-direction: unset;
    transform: unset;
    background-color: unset;
  }

  .menu::before {
    all: unset;
  }

  .item {
    flex-direction: column;
    padding-left: 1em;
  }

  .item::after {
    margin: auto;
  }

  .item:hover::after,
  .item:focus::after {
    width: 80%;
  }

  .sub-menu,
  .ham {
    display: none;
  }
}
