header {
  display: flex;
  align-items: center;
  height: 12vh;
  background: var(--clr-primary-900);
}

.logo {
  filter: invert(90%) sepia(48%) saturate(5427%) hue-rotate(309deg)
    brightness(101%) contrast(104%);
  z-index: 99;
}

.name {
  font-family: var(--ff-accent);
  font-size: 2.5rem;
  text-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.1);
  color: var(--clr-primary-300);
  z-index: 99;
}

.navbar {
  flex-grow: 1;
  -webkit-box-pack: end;
  display: -webkit-box;
  padding-right: 1em;
}

.ham,
.hamMQ {
  position: relative;
  z-index: 99;
}

.change,
.changeMQ {
  position: fixed;
  top: 1.8em;
  right: 1em;
}

/* Menu ham */
.ham span {
  display: block;
  width: 1.7em;
  height: 0.1875em;
  margin: 0.3125em auto;
  background-color: var(--clr-primary-300);
  box-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(45deg) translate(8px, 3px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translate(8px, -3px);
}

/* Menu MQ */
.hamMQ span {
  display: block;
  width: 1.7em;
  height: 0.1875em;
  margin: 0.3125em auto;
  background-color: var(--clr-primary-300);
  box-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.changeMQ .bar1MQ,
.changeMQ .bar2MQ {
  opacity: 0;
}

.hamMQ label {
  position: absolute;
  top: 25px;
  color: var(--clr-primary-300);
  font-family: var(--ff-accent);
  font-weight: bolder;
  opacity: 0;
  pointer-events: none;
}

.changeMQ label {
  animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeWhileMovingUp 0.8s ease 0.2s forwards,
    shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
  0%,
  100% {
    opacity: 1;
  }

  0% {
    top: -5px;
  }

  50% {
    top: -20px;
  }

  100% {
    top: -5px;
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    transform: rotateZ(0);
  }

  12.5% {
    transform: rotateZ(-10deg);
  }

  25% {
    transform: rotateZ(-20deg);
  }

  37.5% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  62.5% {
    transform: rotateZ(10deg);
  }

  75% {
    transform: rotateZ(20deg);
  }

  87.5% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    transform: rotateZ(0);
  }

  80% {
    transform: rotateZ(3deg);
  }

  90% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 60, 56, 0.75);
  z-index: 98;
  position: fixed;
  top: 0;
  right: 0;
  padding: 6.25em 1em 0 1em;
  transition: transform 0s ease-in;
  transform: translate(100%);
  min-width: 50%;
}

.menu-change {
  transform: translate(0);
}

.menu-change::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  inset: 0;
  box-shadow: var(inset 0 0 2000px rgba(255, 60, 56, 0.75));
  filter: blur(10px);
}

.menu li {
  padding-inline: 0.3125em;
  line-height: 2.5em;
  font-size: 1.125rem;
  color: var(--clr-primary-300);
}

.menu li a::after {
  content: "";
  width: 0;
  height: 0.125em;
  background-color: var(--clr-primary-300);
  display: block;
  transition: 0.5s;
}

.menu li a:hover::after,
.menu li a:focus::after {
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .name {
    font-size: 2.8rem;
  }

  .menu {
    position: unset;
    min-width: unset;
    padding: 0;
    flex-direction: unset;
    transform: unset;
  }

  .menu::before {
    all: unset;
  }

  .menu li {
    flex-direction: column;
    padding-left: 1em;
  }

  .menu li a::after {
    margin: auto;
  }

  .menu li a:hover::after,
  .menu li a:focus::after {
    width: 80%;
  }

  .ham,
  .hamMQ {
    display: none;
  }
}
