.pages {
  display: flex;
  justify-content: left;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--clr-primary-300);
}

.pages li {
  display: inline-flex;
  padding-inline: 1em;
  line-height: 2em;
  color: var(--clr-primary-900);
}

.pages li:hover,
.pages li:focus {
  background-color: var(--clr-primary-100);
}