.hide {
  display: none;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.input__btn {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-1000);
  width: 10em;
  border-radius: 15px;
  padding: .7em 1em;
  font-size: 1em;
  background: #C8C66C;
}

.input__text,
.output__text {
  white-space: pre;
  font-family: var(--ff-code-APL);
}

.output__btn {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-000);
  width: 10em;
  border-radius: 15px;
  padding: .7em 1em;
  font-size: 1em;
  background: red;
}

.output__text {
  resize: none;
  pointer-events: none;
}

@media only screen and (min-width: 600px) {
  .section {
    flex-direction: row;
    justify-content: center;
  }
}