.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.input div,
.output div {
  display: flex;
  flex-direction: column;
  max-width: 15em;
  width: 80%;
  gap: 1em;
}

.input button,
.output button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s;
}

.input button,
.input textarea {
  border: 2px solid #4169e1;
}

.input button:hover {
  background-color: #4169e1;
}

.output button,
.output textarea {
  border: 2px solid #e62020;
}

.output button:hover {
  background-color: #e62020;
}

textarea {
  white-space: pre;
  font-family: var(--ff-code-APL);
  resize: none;
  outline: none;
}

@media only screen and (min-width: 600px) {
  .section {
    flex-direction: row;
    justify-content: center;
  }
}
